<br>
<br>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="well fondo-crema">
        <div class="row">
          <div class="col-md-12">
            

            <p id="notice"><%= notice %></p>

            <h1>Bandeja de Entrada</h1>

            <table class="table">
              <thead>

                <tr>
                  <th>Usuario</th>
                  <th>Mascota</th>
                  <th>Fecha</th>
                  <th>Mensaje</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @messages.each do |message| %>
                  <% if current_user.id != message.petitioner %>
                    <% user = User.find(message.petitioner) %>
                  <% else %>
                    <% user = User.find(message.owner) %>
                  <% end %>
                    <% pet = Pet.find(message.pet_id) %>
                    <tr>
                      <td><%= link_to user.user_name.to_s + " " + user.user_lastname_p.to_s, profile_path(user) %></td>
                      <td><%= link_to pet.name, pet_path(pet) %></td>
                      <td><%= message.created_at.to_formatted_s(:long) %></td>
                      <td><%= message.text %></td>
                      <td><%= link_to 'Ver petición', message %></td>
                      <% if pet.status == "y" %>
                        <td><%= link_to 'Aceptada', "#", class:"btn btn-success disabled" %></td>
                      <% else %>
                        <% if message.petitioner == current_user.id %>
                          <td><%= link_to 'Cancelar petición', message, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
                        <% else %>
                          <td><%= link_to 'Rechazar petición', message, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %></td>
                        <% end %>
                      <% end %>
                    </tr>
                <% end %>
              </tbody>
            </table>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


