<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= devise_error_messages! %>

<div class="field">
  <%= f.label "Dirección, entre más simple mucho mejor. (Calle, Municipio, Estado). Ej: Libertad 310, Balancán, Tabasco" %> <i>Si se deja en blanco, no se actualizará.</i><br />
  <%= f.text_field :address, autocomplete: "off" %>
</div>

<div class="field">
  <%= f.label "Contraseña actual:" %> <i>Es necesario que ingrese su contraseña actual como medida de seguridad</i><br />
  <%= f.password_field :current_password, autocomplete: "off" %>
</div>

<div class="actions">
  <%= f.submit "Actualizar dirección" %>
</div>
<% end %>

<h3>Cancel my account</h3>

<p>¿No te agrada nuestro sitio? <%= button_to "Borra tu cuenta", registration_path(resource_name), data: { confirm: "¿Estas seguro que deseas darte de baja?" }, method: :delete %></p>

<%= link_to "Atrás", root_path %>
