<div class="container">
  <br>
  <br>
  <p id="notice"><%= notice %></p>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="well">
        <div class="row">
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <%= image_tag(@pet.image_url, class:"img-responsive img-circle") %>
                <br>
              </div>
              <div class="row">
                <div class="col-md-12 text-center">
                  <h1><%= @pet.name %></h1>
                  <br>
                  <% if @pet.requested == true || current_user.id == @pet.user_id %>
                  <% else %>
                  <%= link_to "¡Adóptame!", new_message_path(:id => @pet.id), class:"btn btn-lg boton-salmon"  %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8">
            <div class="row">
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <h3>Raza: </h3>
                    <p><%= @pet.breed %></p>
                  </div>
                  <div class="col-md-4">
                    <h3>Edad: </h3>
                    <p><%= @pet.age %></p>
                  </div>
                  <div class="col-md-4">
                    <h3>Color de pelo: </h3>
                    <p><%= @pet.hair %></p>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <h3>Género:</h3>
                    <p><%= @pet.gender %></p>
                  </div>
                  <div class="col-md-4">
                    <h3>Tamaño:</h3>
                    <p><%= @pet.size %></p>
                  </div>
                  <div class="col-md-4">
                    <h3>Estado: </h3>
                    <% if @pet.status == 'y' %>
                    <p class="salmon">Adoptado</p>
                    <% elsif @pet.status == 'n' %>
                    <p class="green">En espera de un hogar</p>
                    <% elsif @pet.status == 'p' %>
                    <p class="yellow">Tiene petición de adopción</p>
                    <% end %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h3>Acerca de <%= @pet.name %>:</h3>
                    <p><%= @pet.description %></p>
                  </div>
                  <div class="col-md-12">
                    <% if @pet.user == current_user %>
                    <h3>Registrado por: <%= link_to @pet.user.email, profile_index_path  %></h3>
                    <% else %>
                    <h3>Registrado por: <%= link_to @pet.user.email, profile_path(@pet.user)  %></h3>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% if user_signed_in? %>
        <% if @pet.user_id == current_user.id %>
        <div class="text-right">
        <%= link_to 'Editar info', edit_pet_path(@pet), class:"btn btn-info btn-lg" %>
        <%= link_to 'Eliminar publicación', @pet, method: :delete, class: "btn btn-danger btn-lg" %>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <%= link_to 'Back', pets_path %>
</div>
