<div class="container">
	<br>
	<br>
	<div class="row">
		<div class="col-md-12">
			<div class="well fondo-crema">
				<div class="row">
					<div class="col-md-3 text-center">
						<% if @user.image != nil %>
							<%= image_tag(@user.image_url, class:"img-responsive img-circle center-block") %>
						<% else %>
							<%= image_tag('default-profile.jpg', class:"img-responsive img-circle") %>
						<% end %>
						<br>
						<h3><%= @user.user_name + " " + @user.user_lastname_p %></h3>
						<h3><%= @user.email %></h3>
						<hr>
						<div class="row">
							<div class="col-md-12 text-left">
								<h4>Vive en: (Sacar estado y ciudad)</h4>
								<h4>Miembro desde: <%= @user.created_at.to_date %></h4>
								<h4>Mascotas registradas: </h4>
								<%= link_to 'Nueva publicación', new_pet_path, class:"btn btn-block boton-salmon" %> 
							</div>
						</div>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-12">
								<h2>Mascotas Registradas</h2>
								<div class="row">
									<% @user.pets.each do |pet| %>
										<div class="col-md-3">
											<div class="thumbnail shadow">
												<%= image_tag(pet.image_url, class:"img-rounded") %>
												<div class="caption">
													<h3 class="text-center"><%= pet.name %></h3>
													<h5>Raza: <span style="font-size: 12px;"><%= pet.breed %></span> </h5>
										            <h5>Tamaño: <span style="font-size: 12px;"><%= pet.size %></span></h5>
										            <h5>Edad: <span style="font-size: 12px;"><%= pet.age %></span></h5>
										            <h5>Género: <span style="font-size: 12px;"><%= pet.gender %></span></h5>
										            <%= link_to "Conóceme",pet, class:"btn btn-block boton-salmon"%>
												</div>
											</div>
										</div>
									<% end %>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h2>Ubicación</h2>
								<h3>*(Insertar mapa aquí)*</h3>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
